 * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

.loading-message {
    font-size: 24px;
    text-align: center;
}

#delivery-address,
#remarks {
    background: none;
    padding: 20px 25px !important;
    border-radius: 15px;
    border: 1px solid #bfbfbf;
}

.name-phone {
    max-width: 470px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: #d8fffb;
    padding: 10px 25px;
    border-radius: 25px;
}

.phoneno {
    display: flex;
    line-height: 20px;
    align-items: center;
}

button span {
    margin-left: 10px
}


.orders-div h2 {
    text-align: center;
    margin-top: 15px !important;
    border-bottom: 1px solid;
    width: 230px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#checkout-form {
    max-width: 500px;
    margin: 0 auto;
}

#main-content {
    display: none;
}


input[type="text"],
textarea {
    width: 100%;
    padding: 10px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 20px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
    display: inline-flex;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #45a049;
}

#customer-name-display {
    min-height: 30px
}

#customer-name-display span {
    font-size: 21px;
    font-weight: bold
}

#orders {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.order-now-button {
    margin-top: 25px;
    text-align: center;
}

.order-now-button svg {
    height: 30px;
    width: 30px;
}

.ordered-product {
    background: #ffdff2;
    padding: 20px 25px;
    border-radius: 25px;
    flex-grow: 1;
}

.ordered-product:nth-child(2n) {
    background: #e5f3ff;
}

.ordered-product-details {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 15px;
    line-height: 20px;

}

.orders-div {
    background: white;
    padding: 15px;
    border-radius: 15px;
}

.address-div {
    background: white;
    padding: 10px 15px 1px;
    border-radius: 15px;
    margin-top: 20px;
}