
      * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

.white-svg {
    fill: white;
    outline: none;
}

.search-bar {
    padding: 5px 10px !important;
    font-size: 14px !important;
    border: 3px solid #dcdcdc !important;
    height: 50px !important;
    border-radius: 20px !important;
    display: unset !important;
    background: #f2f2f278 !important;
    color: #333333;
}

.search-results {
    color: #666;
    margin-top: 10px;
    position: fixed;
    bottom: 70px;
    text-align: center;
    background: #ffffff50;
    width: 100%;
    left: 0;
    border-top: 1px solid #ccc;
    z-index: 1111;
    border-bottom: #f3f6fc;
    backdrop-filter: blur(10px);
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #ffffff50;
    padding: 10px;
    height: 70px;
    z-index: 1;
    backdrop-filter: blur(10px);
    display: flex;
    gap: 10px;
}

.reload-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reload-button:hover {
    background-color: #000;
}

.book-box {
    padding: 10px;
    border-radius: 25px;
    flex-grow: 1;
    background-color: #ffdff2;
    border: 2px solid #fff0;
    transition: 0.2s ease;

}

.book-box:nth-child(2n) {
    background-color: #e5f3ff;
}

#book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 55px;
    margin-top: 45px;
}

.book-name {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.book-details {
    display: flex;
    gap: 10px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.book-details p {
    margin: 5px 0;
    color: #666;
    line-height: 20px;
}

.add-to-cart-button,
.remove-from-cart-button {
    color: #fff;
    border: 1px solid #3498db;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    display: inline-flex;
    width: fit-content;
    position: relative;
}

.add-to-cart-button {
    background-color: #3498db;
}

.remove-from-cart-button {
    background-color: #e74c3c;
}

.share-button {
    background-color: #1abc9c;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    display: inline-flex;
    width: 41px;
    border-radius: 30px;
    padding: 8px 7px;
    left: 5px;
    position: relative;
}

.add-to-cart-button:hover,
.share-button:hover {
    background-color: #00000000;
    color: #333333;
    border: 1px solid #333333;
    transition: 0.2s ease;
}

.add-to-cart-button:hover .white-svg path,
.share-button:hover .white-svg path {
    fill: #333333
}

.button-container {
    display: flex;
    gap: 15px;
    justify-content: end;
    position: relative;
}

.search-results {
    color: #666;
    margin-top: 10px;
}

.cart-button {
    background-color: #0000007a;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    display: inline-flex;
    border-radius: 30px;
    padding: 8px 12px;
    position: relative;
    height: 50px;
    justify-content: center;
    margin-block: 0 !important;
}

.book-intro {
    display: flex;
    height: 150px;
    background-color: #fff;
    border-radius: 21px;
}

.book-thumb.product-thumb {
    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
    overflow: hidden;
    min-width: 100px;
    top: -10px;
    position: relative;
    border-radius: 7px;
    transform: rotate(10deg);
    transition: 0.2s ease;
}

.book-thumb.product-thumb:hover {
    transform: rotate(0deg) scale(1.5);
}

.bookThumb {
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 7px !important;
    border: 1px solid #ccc;
}

@media (min-width: 621px) {
    .book-box {
        width: calc(100% / 2 - 6px);
    }
}

@media (min-width: 980px) {
    .book-box {
        width: calc(100% / 3 - 8px);
    }
}

.authorname {
    margin: 0 !important;
    font-size: 12px;
    font-style: italic;
    line-height: 17px;
    color: #888;
}

.bookname {
    margin: 0 0 5px 0 !important;
    line-height: 18px;
    font-size: 16px;
    color: #333333;
}

.book-introinside {
    display: flex;
    align-items: center;
    padding: 10px;
}

.bookprice {
    margin: 0 !important;
    font-size: 14px;
    color: #e67e22;
}